body
{
    font-family: 'Open Sans', sans-serif;
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
    color: #212529;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #fff;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #000;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #fff;  /* creates padding around scroll thumb */
  }
  .sidebar
{
    overflow: auto;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #000;
    width: 60px;
    padding: 0 !important;
    -webkit-transition: width .4s ease-in;
    -o-transition: width .4s ease-in;
    transition: width .8s ease-in;
}

.sidebar .logo-icon
{
    padding-top: 15px;
    width: 60%;
    -webkit-transition: width .4s ease-in, padding .4s ease-in;
    -o-transition: width .4s ease-in, padding .4s ease-in;
    transition: width .4s ease-in, padding .4s ease-in;
}

.sidebar .logo-text
{
    padding-left: 15px;
    font-size: 1.313rem;
    color: #fff;
    line-height: 1.969rem;
    font-weight: 900;
    display: none;
}

.sidebar .list-icon , .sidebar .list-text
{
    font-size: 1.1rem;
    color: #fff;
    line-height: 1.594rem;
}

.sidebar .list-text, .dropdown-toggle::after
{
    display: none;
}

.sidebar .dropdown ul
    {
        opacity: 0;
    }

    .sidebar ul
    {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .sidebar ul a
    {
        padding-left: 0 !important;
        -webkit-transition: padding .4s ease-in;
        -o-transition: padding .4s ease-in;
        transition: padding .8s ease-in;
        transition-delay: .8s;
    }


.sidebar:hover
    {
        width: 260px;
        padding: 1rem 1rem 0 1rem !important;
    }

    .sidebar:hover .logo-icon
    {
        width: 30%;
    }

    .sidebar:hover .logo-text
    {
        display: inline;
    }

    .sidebar:hover .list-text
    {
        display: inline;
    }

    .sidebar:hover .dropdown ul
    {
        opacity: 1;
    }

    .sidebar:hover .dropdown
    {
        transform: translateX(-7px);
    }

    .sidebar:hover .dropdown-toggle::after
    {
        display: inline-block;
    }

    .sidebar:hover ul
    {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;

    }
    .dropdown button 
{
    background-color: transparent;
    border: none;
}

.sidebar ul a:hover .list-icon, .sidebar ul a:hover .list-text, .sidebar ul a:focus .list-icon, .sidebar ul a:focus .list-text
{
    color: #926be6;
}

.sidebar .dropdown button:hover, .sidebar .dropdown button:hover i, .sidebar .dropdown button:hover span, .sidebar .dropdown ul li:hover a
{
    color: #926be6;
    background-color: transparent;
}

.dropdown-toggle::after
{
    color: #fff;
}

.dropdown ul li
      {
          margin-left: 20px;
      }

.sidebar .list-text
{
    padding-left: 10px;
}

.search button, .search input
{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: none;
}

.search button
{
    text-align: center;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search input
{
    margin-left: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


.title
{
    border-bottom: 1px solid #dee2e6;
}

.title h3
{
    font-size: 1.75rem;
    font-weight: 900;
}


.container-fluid
{
    height: 500px !important;

}
.title
{
    margin-top: -40px;
}

.title h2
{
    font-size: 50px;
    font-weight: 900;
    color: #000;
    margin-left: 5%;
}

.person
{
    width: 260px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    padding: 5%;
    position: relative;
    margin-left: 40px;
    margin-top: 20px;
    box-shadow: 10px 10px 5px rgb(220, 223, 223);
}

.details img
{
    width: 60px;
    height: 60px;
    border-radius: 25%;
    margin-left: -18%;
    margin-top: -25%;
    
}


.content
{
    width: 150px;
    height: 45px;
    margin-left: 30%;
    position: absolute;
    top: 26px;
    left: 8%;
}

.content h3
{
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

/************Calender*************/
ul {list-style-type: none;}

.box-tables
{
    box-shadow: 10px 10px 5px rgb(211, 214, 214);
}

.i-table
{
    border-radius: 40px;
}

.i-table .btn-plus
{
    margin-left: 45%;
}
/* Month header */
.month {
  padding: 10px 15px;
  width: 100%;
  background: #999c9b;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 6px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13%;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 12%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #000000;
  color: white !important
}


.i-table
{
    background-color:rgb(255, 255, 255) ; 
    width:100%;
    margin: auto;
}

.form-control
{
    background-color:rgb(232, 234, 236) ;
}

.search
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1%;
}
/* .search i
{
    margin-left: 15px;
    font-size: x-large;
} */

#search
{
    width: 40%;
    background-color: rgba(182, 181, 181, 1);
    border-radius: 10px;
}


table 
{ 
    width: 100%; 
    border-collapse: collapse; 
}
  /* Zebra striping */
tr:nth-of-type(odd) 
{ 
    background: #eee; 
}
th
{ 
    background: #333; 
    color: white; 
    font-weight: bold; 
}
td, th
{ 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: center; 
}